.App {
  margin-top: 60px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App form {
  width: 30%;
  padding: 60px;
  border-radius: 20px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.country-bar, .submit-btn {
  width: 80%;
  height: 30px;
  margin: 0;
  border-radius: 10px;
  font-size: 16px;
}

.country-bar {
  padding-left: 10px;
}

.div-result {
  margin-top: 35px;
  width: 90%;
  border-radius: 20px;
  text-align: center;
}

.div-country {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}